Repository Planctae/rfcs, changes with the owners that CODEOWNERS names for each.
All owners: @Planctae/rfc-admins, @Planctae/rfc-editors, @Planctae/sig-architecture-approvers, @Planctae/sig-network-approvers, @Planctae/sig-node-approvers, @Planctae/sig-release-approvers, @Planctae/sig-storage-approvers

Delete feature_one.md
  sig-node/feature_one.md
Owners: @Planctae/sig-node-approvers

Create feature_two.md
  wg-resrouce-management/feature_two.md
Owners: none

Create feature_three.md
  sig-release/feature_three.md
Owners: @Planctae/sig-release-approvers

Create featutre_four.md
  sig-architecture/featutre_four.md
Owners: @Planctae/sig-architecture-approvers

Create feature_five.md
  sig-network/feature_five.md
Owners: @Planctae/sig-network-approvers

CODEOWNERS:

# CODEOWNERS itself (this file)
CODEOWNERS @Planctae/rfc-admins @Planctae/rfc-editors

# SIG breakdown of OWNERSHIP
sig-architecture/ @Planctae/sig-architecture-approvers

# SIG Network owns these
sig-network/ @Planctae/sig-network-approvers

# SIG Node owns these
sig-node/ @Planctae/sig-node-approvers

# SIG Release owns these
sig-release/ @Planctae/sig-release-approvers

# SIG Storage owns these
sig-storage/ @Planctae/sig-storage-approvers

# SIG Node and SIG Storage owns this
wg-resource-management @Planctae/sig-node-approvers @Planctae/sig-storage-approvers
